.cos-btn-success {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background: #4d8f46;
  transition: all, 0.3s;
}

.cos-btn-success:hover {
  background: #0a6700;
  border-radius: 0;
  border: none;
  color: #fff;

}

.cos-btn-success:active {
  border-radius: 0;
  border: none;
  color: #fff;
}

.cos-btn-success:focus {
  outline: 3px solid #D0E8CE;
}

.cos-btn-danger {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 0;
  border: none;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background: #b73939;
  transition: all, 0.3s;
}

.cos-btn-danger:hover {
  background: #990000;
  border-radius: 0;
  border: none;
  color: #fff;
}

.cos-btn-danger:active {
  border-radius: 0;
  border: none;
  color: #fff;
}

.cos-btn-danger:focus {
  outline: 3px solid #FFD8D8;
}
